<div layout="column">
	<md-content>
		<h3>Teacher: {{tutorial.teacher_name}}</h3>
		<h4>Room: {{tutorial.room_number}}</h4>
		<p>{{students.length}} of {{tutorial.max_students}} max students registered.</p>
	</md-content>
	<md-divider></md-divider>
	<md-list>
		<md-list-item class="md-2-line" ng-repeat="student in students" ng-click="navigate(student.id)">
			<div class="md-list-item-text">
				<h3>{{student.last_name}}, {{student.first_name}}</h3>
				<p>Grade: {{student.grade_level}}</p>
			</div>
			<md-icon class="md-secondary md-warn" aria-label="Remove student from tutorial" md-svg-icon="close" ng-click="remove(student.id)"><md-tooltip>Remove From Tutorial</md-tooltip></md-icon>
			<md-divider ng-if="!$last"></md-divider>
		</md-list-item>
		<md-list-item ng-if="students.length == 0">
			<h3>{{message}}</h3>
		</md-list-item>
	</md-list>
</div>
<md-button class="md-fab md-fab-bottom-right" ng-click="add($event)"><md-icon md-svg-icon="add" aria-label="Register Student"></md-icon><md-tooltip>Register Student</md-tooltip></md-button>
