<div layout="column">
	<md-list>
		<md-list-item class="md-2-line" ng-repeat="cycle in cycles" ng-click="navigate(cycle.id)">
			<div class="md-list-item-text">
				<h3>{{cycle.name}}</h3>
				<p>{{cycle.status}}</p>
			</div>
			<md-icon class="md-secondary" ng-click="edit(cycle.id, $event)" aria-label="Edit {{cycle.name}}" md-svg-icon="create" ng-if="admin()"><md-tooltip>Quick Edit</md-tooltip></md-icon>
			<md-divider ng-if="!$last"></md-divider>
		</md-list-item>
	</md-list>
</div>
<md-button class="md-fab md-fab-bottom-right" ng-click="create($event);" aria-label="Add New Cycle" ng-if="admin()"><md-icon md-svg-icon="add"></md-icon><md-tooltip>Add New Cycle</md-tooltip></md-button>
