<div layout="column">
	<md-list>
		<md-list-item ng-repeat="cycle in cycles" class="md-2-line">
			<md-list-item-text>
				<h3>{{cycle.name}}</h3>
				<p>{{cycle.status}}</p>
			</md-list-item-text>
			<md-radio-group class="md-secondary" ng-model="cycle.status" layout="row" ng-change="cycle.$update()">
				<md-radio-button value="Pre-registration" layout="column" layout-align="space-around center">Pre-registration</md-radio-button>
				<md-radio-button value="Open" layout="column" layout-align="space-around center">Open</md-radio-button>
				<md-radio-button value="Active" layout="column" layout-align="space-around center">Active</md-radio-button>
				<md-radio-button value="Completed" layout="column" layout-align="space-around center">Completed</md-radio-button>
			</md-radio-group>
		</md-list-item>
	</md-list>
</div>
<md-button class="md-fab md-fab-bottom-right">New</md-button>
