<div layout="column">
	<div layout="row" ng-if="admin()">
		<md-button class="md-primary md-raised" ng-click="delete8($event)">Delete 8th Graders</md-button>
		<md-button class="md-warn md-raised" ng-click="deleteAll($event)">Delete All {{students.length}} Students</md-button>
		<md-progress-circular class="md-warn" md-diameter="24" md-mode="indeterminate" ng-show="deleting"></md-progress-circular>
	</div>
	<md-list>
		<md-list-item class="md-3-line" ng-repeat="student in students">
			<div class="md-list-item-text">
				<h3>{{student.full_name}}</h3>
				<h4><strong>Grade:</strong> {{student.grade_level}}</h4>
				<p><strong>Id:</strong> {{student.id}}</p>
			</div>
			<md-icon class="md-secondary md-warn cursor" style="margin-top:0px" aria-label="Delete student" md-svg-icon="close" ng-click="delete($index, $event)" ng-if="admin()"><md-tooltip>Delete Student</md-tooltip></md-icon>
			<md-divider ng-if="!$last"></md-divider>
		</md-list-item>
	</md-list>
</div>

