<div layout="column">
	<md-grid-list 
			md-cols-sm="1" md-cols-md="1" md-cols-gt-md="2"
			md-row-height-gt-md="2:1" md-row-height="2:2"
			md-gutter="12px" md-gutter-gt-sm="8px">
		<md-grid-tile md-rowspan="2" md-colspan="1" class="red">
			<md-grid-tile-header>
				<h3>Scheduled Sessions</h3>
			</md-grid-tile-header>
			<table>
				<thead>
					<tr>
						<th>Mission</th>
						<th>Ground Station</th>
						<th>Data Transfered</th>
						<th>Date</th>
						<th>Duration</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="session in sessions">
						<td>{{session.mission.name}}</td>
						<td>{{session.ring.name}}</td>
						<td>{{session.dataAmount}}</td>
						<td>{{session.date | date: 'yyyy/MM/dd'}}</td>
						<td>{{session.duration | date: 'hh:mm:ss'}}</td>
					</tr>
				</tbody>
			</table>
		</md-grid-tile>
		<md-grid-tile md-rowspan="1" md-colspan="1" class="green">
			<md-grid-tile-header>
				<h3>Ground Sites</h3>
			</md-grid-tile-header>
			<table>
				<thead>
					<tr>
						<th>Station</th>
						<th>Avg. Contacts/Day</th>
						<th>Avg. GB/Day</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="site in sites">
						<td>{{site.name}}</td>
						<td>{{site.contacts}}</td>
						<td>{{site.data}}</td>
					</tr>
				</tbody>
			</table>
		</md-grid-tile>
		<md-grid-tile md-rowspan="1" md-colspan="1" class="blue">
			<md-grid-tile-header>
				<h3>Missions</h3>
			</md-grid-tile-header>
			<table>
				<thead>
					<tr>
						<th>Mission</th>
						<th>Last Contacted</th>
						<th>Owner</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mission in missions">
						<td>{{mission.name}}</td>
						<td>{{mission.lastContact | date:'short'}}</td>
						<td>{{mission.owner}}</td>
					</tr>
				</tbody>
			</table>
		</md-grid-tile>
	</md-grid-list>
</div>

